// Import de la font Playfair Display et Poppins directement dans le fichier _typography.scss
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');

// Typographie
$font-family-sans-serif: 'Poppins', sans-serif;
$headings-font-family: 'Playfair Display', serif;
$font-size-base: 1rem;
$line-height-base: 1.6;