.navbar {
    background-color: $bay-light; // Utilisation des couleurs définies
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .navbar-brand {
        font-size: 1.8rem;
        font-weight: bold;
        color: $bay-red;
        &:hover {
            color: darken($bay-red, 10%);
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
        }
    }

    .nav-link {
        color: $bay-dark;
        font-weight: 500;
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        position: relative;

        &:hover {
            color: $bay-gold;
        }

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $bay-gold;
            transition: width 0.3s;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover::after {
            width: 50%;
        }
    }

    .btn-primary {
        background-color: $bay-red;
        border-color: $bay-red;
        color: $bay-light;
        padding: 0.5rem 1.5rem;
        font-size: 1.1rem;
        border-radius: 25px;
        &:hover {
            background-color: lighten($bay-red, 10%);
            border-color: lighten($bay-red, 10%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }
}


